<div class="grid col-12 md:col-8 col-offset-2 mt-4">
  <div class="p-fluid col-12 md:col-7">
    <form>
      <div class="mb-3 field col-12 md:col-12">
        <span class="p-float-label">
          <input type="text" id="inputtext" pInputText #newTitle />
          <label for="inputtext">Title : </label>
        </span>
      </div>
      <div class="mb-3 field col-12 md:col-12">
        <span class="p-float-label">
          <input type="text" id="inputtext" pInputText #newLink />
          <label for="inputtext">Link : </label>
        </span>
      </div>
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="addLink(newTitle, newLink)"
        >
          submit Link
        </button>
      </div>
    </form>
  </div>
  <div>
    <app-article
      *ngFor="let article of articles; index as id"
      [article]="article"
    ></app-article>
  </div>
  <router-outlet></router-outlet>
</div>
